body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0B0E11;
    color: #EAECEF;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cerveza-aleatoria {
    margin-top: 200px;
    font-size: 35px;
}

.descripcion {
    max-width: 600px;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 70px;
}

.btn-cerveza {
    display: inline-flex;
}

.btn-cerveza a{
    display: inline-block;
    background-color: #FEBC58;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3px;
}

.abv, .ibu, .ebc {
    font-size: 16px;
    margin-top: 1px;

}